PORT=3000
TURSO_DATABASE_URL=libsql://manajemen-inventaris-lsp-aransyah28.aws-ap-northeast-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODk5NjM5NjgsImlkIjoiMDFhMGMyMjgtYWQwMS03M2Q5LWFmNGQtZGZiZjM3ZjExN2FmIiwia2lkIjoiS05mcDIwdFhSNGF3TUJkaU4xVncta0tfWlFJQlFqeGZQdHRzLTRraHEwdyIsInJpZCI6ImY3ZTA5Yzg2LWQ5YjMtNDJlMC1iNmFlLWNlZDkzZjg2MDExNiJ9.jjv7JbzFaQ-z19M5Aa_4ksyV4lyMqkwiaIcugxI2jiCFJRuwXK9g6vkfZR1r8KH6yP7IU0YHJumcq2XYw77hDg
SESSION_SECRET=super_secret_lsp_key_123
JWT_SECRET=secret_jwt_lsp_inventaris_2026
